<?xml version='1.0' encoding='utf-8'?>
<widget id="com.supergreenlab.app" version="1.0.12" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SuperGreenLab</name>
    <description>
      Control your growbox from your smartphone.
    </description>
    <author email="services@supergreenlab.com" href="http://www.supergreenlab.com">
      Constantin Clauzel
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin='*' allows-arbitrary-loads-for-media='true' allows-arbitrary-loads-in-web-content='true' allows-local-networking='true' />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashMaintainAspectRatio" value="true"/>
        <preference name="SplashShowOnlyFirstTime" value="true"/>
        <preference name="SplashMaintainAspectRatio" value="true"/>
        <preference name="SplashShowOnlyFirstTime" value="true"/>

        <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi" />
        <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi" />
        <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi" />
        <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi" />
        <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi" />

        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permissions.NETWORK_ACCESS" />
          <uses-permission android:name="android.permissions.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
    </platform>

    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:usesCleartextTraffic="true" />
    </edit-config>
    
    <platform name="ios">
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />

      <icon src="resources/ios/icon/icon-24@2x.png" width="48" height="48" />
      <icon src="resources/ios/icon/icon-27.5@2x.png" width="55" height="55" />
      <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180" />
      !-- iOS 7.0+ -->
      !-- iPhone / iPod Touch  -->
      <icon src="resources/ios/icon/icon-60.png" width="60" height="60" />
      <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120" />
      !-- iPad -->
      <icon src="resources/ios/icon/icon-76.png" width="76" height="76" />
      <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152" />
      !-- Spotlight Icon -->
      <icon src="resources/ios/icon/icon-40.png" width="40" height="40" />
      <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80" />
      !-- iOS 6.1 -->
      !-- iPhone / iPod Touch -->
      <icon src="resources/ios/icon/icon.png" width="57" height="57" />
      <icon src="resources/ios/icon/icon@2x.png" width="114" height="114" />
      !-- iPad -->
      <icon src="resources/ios/icon/icon-72.png" width="72" height="72" />
      <icon src="resources/ios/icon/icon-72@2x.png" width="144" height="144" />
      !-- iPad Pro -->
      <icon src="resources/ios/icon/icon-167.png" width="167" height="167" />
      !-- iPhone Spotlight and Settings Icon -->
      <icon src="resources/ios/icon/icon-small.png" width="29" height="29" />
      <icon src="resources/ios/icon/icon-small@2x.png" width="58" height="58" />
      <icon src="resources/ios/icon/icon-small@3x.png" width="87" height="87" />
      !-- iPad Spotlight and Settings Icon -->
      <icon src="resources/ios/icon/icon-50.png" width="50" height="50" />
      <icon src="resources/ios/icon/icon-50@2x.png" width="100" height="100" />
      !-- iPad Pro -->
      <icon src="resources/ios/icon/icon-83.5@2x.png" width="167" height="167" />

      <splash src="resources/ios/splash/Default@2x~universal~anyany.png" />
    </platform>

    <platform name="windows">
    </platform>
</widget>
